assets-app-mobile.zip
assets-frontend.zip
Wallpapers_OmniStack_11.zip
05 - Funcionalidades avançadas _ Semana OmniStack 11 0/Funcionalidades avançadas _ Semana OmniStack 11.0 (1080p_60fps_VP9-128kbit_AAC).mkv
04 - Desenvolvendo o app mobile _ Semana OmniStack 11 0/Desenvolvendo o app mobile _ Semana OmniStack 11.0 (1080p_60fps_VP9-128kbit_AAC).mkv
03 - Construindo a interface web _ Semana OmniStack 11 0/Construindo a interface web _ Semana OmniStack 11.0 (1080p_60fps_VP9-128kbit_AAC).mkv
02 - Criando a base da aplicação _ Semana OmniStack 11 0/Criando a base da aplicação _ Semana OmniStack 11.0 (1080p_60fps_VP9-128kbit_AAC).mkv
01 - Conhecendo a OmniStack _ Semana OmniStack 11 0/Conhecendo a OmniStack _ Semana OmniStack 11.0 (1080p_60fps_VP9-128kbit_AAC).mkv
.vscode/settings.json
backend/src/database/db.sqlite

